* {
    padding: 0;
    margin: 0;
    text-align: center;
}

h1, h2 , p { 
    margin-top: 16px;
    margin-bottom: 16px;
}

.botao1 {
    border: 2px solid #030303;
    background-color: #030303;
    color: #ffffff;
    border-radius: 8px;
}

footer {
    background-color: #030303;
    color: #ffffff;
    padding: 16px;
    margin-top: 16px;
}