/*Primeiro vamos conhecer o :nth-child, que permite escolhe filhos específicos de um determinado tipo:*/

/*seletor :nth-child( ) */

li:nth-child(2) {
    color: #f00;
}

li:nth-child(3n) {
    color: #00f;
}

/*No CSS também temos seletores para diversos estados específicos, como o hover, ou seja, ao passar o cursos sobre o elemento:
Obs.: outros estados como o focus seguem o mesmo princípio.
li:hover { background-color: #999; }*/

li:hover {
    background-color: #999;
}

h1:hover {
    background-color: antiquewhite;
}

input:focus {
    background-color: #f00;
}

/*Também temos o que chamamos de pseudo-elementos. 
Cada elemento no HTML pode possuir dois elementos extras associados a ele, um antes e outro depois. 
Podemos referenciar esses pseudo-elementos através dos seletores ::before e ::after:*/

li::before {
  content: "(antes) ";
  color: #06e450;
}

li::after {
  content: " (depois)";
  color: #8a2be2;
}

/*Semelhante ao nth-child, temos o first-child e last-child para 
primeiros e últimos filhos de um tipo de elemento, respectivamente:*/

li:first-child {
    color: #ffae00;
}

li:last-child {
    color: #ff00b3;
}

/*Por fim, também temos o :not(), que permite “negar”, ou inverter, um determinado seletor. 
Nesse exemplo o usamos para estilizar os filhos que não são o primeiro:*/

/*li:not(:first-child) {
    color: #00ffff;
}*/




/*Existem muitos outros seletores, então não temos como falar sobre todos eles agora. 
Mas sua utilização é parecida com esses que vimos, que são os mais comuns, então a partir de agora 
você deve ser capaz de pesquisar na documentação e utilizar novos seletores a medida que forem necessários.*/